@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #161616;
  @apply text-white;
}

.tCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trTable:not(:first-child):nth-child(odd) {
  background: #282828;
}

@keyframes rotate360 {
  to {
    transform: rotate(180deg);
  }
}

.rotate:hover .w-8 {
  animation: rotate360 0.3s ease;
}

.loader {
  border: 4px solid #00cc0065;
  border-left: 4px solid #00cc00;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loader2 {
  border: 4px solid #15151565;
  border-left: 4px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.displayBlock {
  display: block;
}

.e {
  transition: transform 0.1s ease;
  transform: scaleY(0);
}

.boxEffect:hover .e {
  transform: scaleY(1);
}

div.swiper-button-prev::after {
  margin-bottom: 115px;
  position: absolute;
  color: #b7ab98;
}

div.swiper-button-next::after {
  margin-bottom: 115px;
  color: #b7ab98;
}

div.swiper-pagination {
  margin-bottom: 80px;
}

span.swiper-pagination-bullet {
  background-color: #b7ab98;
}

/* p.web {
  opacity: 0;
  position: absolute;
  color: #cdbfaa;
  font-size: 2em;
  left: 50%;
  top: 22%;
  transform: translateX(-50%);
  transition: 0.2s;
  pointer-events: none;
} */

/* .a:hover {
  filter: brightness(30%);
} */

/* .a:hover + p.web {
  opacity: 1;
} */

.z p {
  width: 90%;
  font-size: 1.4em;
}

@media screen and (max-width: 500px) {
  div.swiper-button-prev {
    display: none;
  }

  div.swiper-button-next {
    display: none;
  }
}
